body{
    padding-bottom: 50px;
}
#main {
    background-color: #1a1b26;
}
img {
    margin-left: 15px;
    border-radius: 50%;
  }
h1 {
    margin: auto;
    width: 97%;
    color: #565f89;
    font-family: 'Fira Code', monospace;
}

.code{
    
        font-family: 'Fira Code', monospace;
        color: #166775;
        width: 96%;
        margin: auto;
        margin-top: 20px;
        font-size: large;
    
}



p {
    font-family: 'Fira Code', monospace;
    color: #166775;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    font-size: x-large;
}

.cmt {
    font-family: 'Fira Code', monospace;
    color: #565f89;
    width: 97%;
    margin: auto;
    margin-top: -29px;
    font-size: xx-large;
}

.link {
    color: #33635c;
    text-decoration: none;
}

#header {
    clear: both;
    background-color: #111;
    color: #555;
    font-size: 1.78em;
    padding: 0.7ex 0.7ex 0.7ex 0.7em;
    margin-bottom: 10px;
}

#headerSubtitle {
    font-size: 0.75em;
    font-style: italic;
    margin-left: 1em;
}

#headerLink {
    color: #17a;
    margin-left: 5px;
}

.logo {
    margin: auto;
    width: 99%;
}

#txt {
    font-family: 'Fira Code', monospace;
    color: #34548a;
    margin: auto;
    height: min-content;
    text-decoration: none;
}
.sm-cmt{
    font-family: 'Fira Code', monospace;
    color: #565f89;
    width: 95%;
    margin: auto;
    margin-top: 15px;
    font-size: large; 
}

#menu {
	clear: both;
	color: #069;
	overflow: hidden;
	background-color: #17a;
	padding: 0.7ex;
	border-bottom: 1px solid #069;
    text-decoration: none;
}

#menu a {
	padding: 0.5ex 1ex;
	color: #fff;
    text-decoration: none;
}

#menu a:hover {
	background-color: #069;
    text-decoration: none;
}

.footer{
    background-color: #212529;
    left: 0;
    right: 0;
    position:absolute;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 5px;
}

#mu{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    
}

#mu a {
	padding: 0.5ex 1ex;
	font-family: 'Fira Code', monospace;
    color: #565f89;
    text-decoration: none;
    margin-top: 7px;
}

#mu a:hover {
	color: #069;
    text-decoration: none;
}
ul{
    color:#069;
}
.sm-cmt-dt{
    font-family: 'Fira Code', monospace;
    color: #7aa2f7;
	max-height: .8em;
	max-width: 1em;
	vertical-align: middle ;
}

.art{
    max-width: 70%;
    font-size: large; 
    text-align: center;
}
body{
    height: 100%;
}
.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}
.footer {
  background-color: #212529;
  left: 0;
  right: 0;
  position: absolute;
}
.bg-dark {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity)) !important;
}
.navbar {
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 0.5rem;
  --bs-navbar-color: rgba(0, 0, 0, 0.55);
  --bs-navbar-hover-color: rgba(0, 0, 0, 0.7);
  --bs-navbar-disabled-color: rgba(0, 0, 0, 0.3);
  --bs-navbar-active-color: rgba(0, 0, 0, 0.9);
  --bs-navbar-brand-padding-y: 0.3125rem;
  --bs-navbar-brand-margin-end: 1rem;
  --bs-navbar-brand-font-size: 1.25rem;
  --bs-navbar-brand-color: rgba(0, 0, 0, 0.9);
  --bs-navbar-brand-hover-color: rgba(0, 0, 0, 0.9);
  --bs-navbar-nav-link-padding-x: 0.5rem;
  --bs-navbar-toggler-padding-y: 0.25rem;
  --bs-navbar-toggler-padding-x: 0.75rem;
  --bs-navbar-toggler-font-size: 1.25rem;
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  --bs-navbar-toggler-border-color: rgba(0, 0, 0, 0.1);
  --bs-navbar-toggler-border-radius: 0.375rem;
  --bs-navbar-toggler-focus-width: 0.25rem;
  --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
}
.navbar-expand-lg{flex-wrap:nowrap;justify-content:flex-start}
